/*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Arbutus+Slab');
@import url('https://fonts.googleapis.com/css?family=Athiti:400,500,600');

/*------------------------------------------------------------------
    IMPORT FILES
-------------------------------------------------------------------*/


@import url(font-awesome.min.css);

@import url(baguetteBox.min.css);


/*------------------------------------------------------------------
    Gallery
-------------------------------------------------------------------*/

.gallery-box{
	padding: 70px 0px;
}
.tz-gallery{
	margin-top: 30px;
}
.tz-gallery .light a {
	width:1000px;
	height:500px;
}
.tz-gallery .light img {
    width: 100%;
	height: 200px;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.tz-gallery .light img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}
#img1{
	width:1000px;
	height:500px;
}
#img2{
	width:1000px;
	height:500px;
}
#img3{
	width:1000px;
	height:500px;
}




























